<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="LogicalExpressionBuilder"
         name="Remes Logical Expression Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="hr.fer.rasip.remes.builder.LogicalOrActionExpressionBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="hr.fer.rasip.remes.RemesNature"
         name="Remes Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="hr.fer.rasip.remes.builder.RemesNature">
         </run>
      </runtime>
      <builder
            id="hr.fer.rasip.remes.builders.LogicalExpressionBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="hr.fer.rasip.remes.builders.AddRemesNature"
            objectClass="org.eclipse.core.resources.IProject">
         <menu id="hr.fer.rasip.remes.tools" label="REMES tools" path="additions">
         	<separator name="projectTools"/> 
         </menu>
         <action
               class="hr.fer.rasip.remes.builder.AddNatureAction"
               enablesFor="1"
               id="hr.fer.rasip.remes.builders.addRemoveNatureAction"
               label="Add REMES nature to project"
               menubarPath="hr.fer.rasip.remes.tools/projectTools">
               <!-- menubarPath="org.eclipse.ui.projectConfigure/additions"-->
               
         </action>
         <visibility>
            <not>
               <objectState
                     name="nature"
                     value="hr.fer.rasip.remes.RemesNature">
               </objectState>
            </not>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="hr.fer.rasip.remes.builders.RemoveRemesNature"
            objectClass="org.eclipse.core.resources.IProject">
         <menu id="hr.fer.rasip.remes.tools" label="REMES tools" path="additions">
         	<separator name="projectTools"/> 
         </menu>
         <action
               class="hr.fer.rasip.remes.builder.RemoveNatureAction"
               enablesFor="1"
               id="hr.fer.rasip.remes.builders.addRemoveNatureAction"
               label="Remove REMES nature from project"
               menubarPath="hr.fer.rasip.remes.tools/projectTools">
         </action>
         <visibility>
            <objectState
                  name="nature"
                  value="hr.fer.rasip.remes.RemesNature">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         id="logicalExpressionProblem"
         name="Remes Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
</plugin>
