<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="LogicalExpressionBuilder"
         name="Remes Logical Expression Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="hr.fer.rasip.remes.builder.LogicalOrActionExpressionBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="hr.fer.rasip.remes.RemesNature"
         name="Remes Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="hr.fer.rasip.remes.builder.RemesNature">
         </run>
      </runtime>
      <builder
            id="hr.fer.rasip.remes.builders.LogicalExpressionBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="hr.fer.rasip.remes.builders.ToggleRemesNature"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="hr.fer.rasip.remes.builder.ToggleNatureAction"
               enablesFor="+"
               id="hr.fer.rasip.remes.builders.addRemoveNatureAction"
               label="Add/Remove Remes Nature"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="logicalExpressionProblem"
         name="Remes Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
</plugin>
