<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.rasip.fer.hr/remes/1.2.0/traces.ecore"
            class="hr.fer.rasip.remes.simulator.traces.TracesPackage"/>
   </extension>

   <extension point="hr.fer.rasip.remes.datastore.framework.models">
      <model id="hr.fer.rasip.remes.simulator.traces.model"
             nsURI="http://www.rasip.fer.hr/remes/1.2.0/traces.ecore">
      </model>
   </extension>
</plugin>
