<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.rasip.fer.hr/remes/1.2.0/profile/profile.ecore" 
       class = "hr.fer.rasip.remes.profile.profile.ProfilePackage"
       genModel = "hr/fer/rasip/remes/profile/Profile.genmodel" /> 
	
  </extension>





</plugin>
