<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="hr.fer.rasip.uppaallite.transform.flat2liteOC"
            nameFilter="*.uppaal"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="hr.fer.rasip.uppaallite.transform.actions.UFlat2ULiteAction"
               enablesFor="*"
               id="hr.fer.rasip.uppaallite.transform.flat2liteAction"
               label="Transform to Uppaallite">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="hr.fer.rasip.uppaallite.transform.lite2flat"
            nameFilter="*.uppaallite"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="hr.fer.rasip.uppaallite.transform.actions.ULite2UFlatAction"
               enablesFor="*"
               id="hr.fer.rasip.uppaallite.transform.lite2flatAction"
               label="Transform to UPPAAL">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="hr.fer.rasip.uppaallite.transform.lite2flatCoraOC"
            nameFilter="*.uppaallite"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="hr.fer.rasip.uppaallite.transform.actions.ULite2UFlatCoraAction"
               enablesFor="*"
               id="hr.fer.rasip.uppaallite.transform.lite2flatCoraAction"
               label="Transform to UPPAAL Cora">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="hr.fer.rasip.uppaallite.transform.lite2flatOCD"
            nameFilter="*.uppaallite_diagram"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="hr.fer.rasip.uppaallite.transform.actions.ULite2UFlatAction"
               enablesFor="*"
               id="hr.fer.rasip.uppaallite.transform.lite2flatActionD"
               label="Transform to UPPAAL">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="hr.fer.rasip.uppaallite.transform.lite2flatCoraOCD"
            nameFilter="*.uppaallite_diagram"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="hr.fer.rasip.uppaallite.transform.actions.ULite2UFlatCoraAction"
               enablesFor="*"
               id="hr.fer.rasip.uppaallite.transform.lite2flatCoraActionD"
               label="Transform to UPPAAL Cora">
         </action>
      </objectContribution>
   </extension>

</plugin>
