<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="se.mdh.progresside.uppaal.perspectives.UppaalPerspective"
            icon="icons/icon.gif"
            id="se.mdh.progresside.uppaal.perspectives.UppaalPerspective"
            name="Uppaal">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="se.mdh.progresside.uppaal"
            name="Uppaal">
      </category>
      <view
            category="se.mdh.progresside.uppaal"
            class="se.mdh.progresside.uppaal.views.SimulatorView"
            icon="icons/icon.gif"
            id="se.mdh.progresside.uppaal.views.SimulatorView"
            name="Uppaal Simulator">
      </view>
      <view
            category="se.mdh.progresside.uppaal"
            class="se.mdh.progresside.uppaal.views.VariablesView"
            id="se.mdh.progresside.uppaal.views.VariablesView"
            name="Uppaal Variables">
      </view>
      <view
            category="se.mdh.progresside.uppaal"
            class="se.mdh.progresside.uppaal.views.GraphicalSimulatorView"
            id="se.mdh.progresside.uppaal.views.GraphicalSimulatorView"
            name="Graphical Simulation Trace">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="se.mdh.progresside.uppaal.preferences.UppaalPreferencePage"
            id="se.mdh.progresside.uppaal.preferences.UppaalPreferencePage"
            name="Uppaal">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="se.mdh.progresside.uppaal.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="se.mdh.progresside.uppaal.launch.simulator.UppaalSimulatorLaunchConfiguration"
            id="se.mdh.progresside.uppaal.launch.simulator"
            modes="run"
            name="Uppaal Simulator">
         <fileExtension
               extension="xml">
         </fileExtension>
      </launchConfigurationType>
      <launchConfigurationType
            delegate="se.mdh.progresside.uppaal.launch.verifyer.UppaalVerifierLaunchConfiguration"
            id="se.mdh.progresside.uppaal.launch.verifier"
            modes="run"
            name="Uppaal Verifier">
         <fileExtension
               extension="xml">
         </fileExtension>
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="se.mdh.progresside.uppaal.launch.simulator.LaunchSimulatorConfigurationTabGroup"
            id="se.mdh.progresside.uppaal.launchSimulatorTabGroup"
            type="se.mdh.progresside.uppaal.launch.simulator">
         <launchMode
               mode="run"
               perspective="se.mdh.progresside.uppaal.perspectives.UppaalPerspective">
         </launchMode>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="se.mdh.progresside.uppaal.launch.simulator.LaunchVerifierConfigurationTabGroup"
            id="se.mdh.progresside.uppaal.launchVerifierTabGroup"
            type="se.mdh.progresside.uppaal.launch.verifier">
         <launchMode
               mode="run"
               perspective="se.mdh.progresside.uppaal.perspectives.UppaalPerspective">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="se.mdh.progresside.uppaal.launch.simulator"
            icon="icons/icon.gif"
            id="se.mdh.progresside.uppaal.simulator.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="se.mdh.progresside.uppaal.launch.verifier"
            icon="icons/iconV.gif"
            id="se.mdh.progresside.uppaal.verifier.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="se.mdh.progresside.uppaal.launch.simulator.UppaalSimulatorLaunchShortcut"
            description="Launch Uppaal model in Simulator"
            icon="icons/icon.gif"
          	id="se.mdh.progresside.uppaal.simulator.launch.shortcut"
            label="Uppaal simulator"
            modes="run">
         <configurationType
               id="se.mdh.progresside.uppaal.launch.simulator"/>
         <contextualLaunch>
            <enablement>
               <or>
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate
                           operator="or">
                        <or>
                           <test
                                 property="org.eclipse.debug.ui.matchesPattern"
                                 value="*.xml">
                           </test>
                        </or>
                     </iterate>
                  </with>
               </or>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
</plugin>
