<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
	   <objectContribution
	            objectClass="org.eclipse.core.resources.IFile"
	            nameFilter="*.prosave"
	            id="hr.fer.rasip.remes.launcher.remes2uppaal">
	            <action
	               class="hr.fer.rasip.remes.launcher.actions.Remes2UppaalflatAction"
	               enablesFor="*"
	               id="hr.fer.rasip.remes.launcher.remes2uppaalAction"
	               label="Transform to Uppaalflat">
	         </action>
	      </objectContribution>  
   </extension>
   <extension point="org.eclipse.ui.popupMenus">
	   <objectContribution
	            objectClass="se.mdh.progresside.components.core.IComponent"
	            id="hr.fer.rasip.remes.launcher.remes2uppaal2">
	            <action
	               class="hr.fer.rasip.remes.launcher.actions.Remes2UppaalflatAction"
	               enablesFor="*"
	               id="hr.fer.rasip.remes.launcher.remes2uppaalAction2"
	               label="Transform to Uppaalflat">
	         </action>
	      </objectContribution>  
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="hr.fer.rasip.remes.launcher.remes2uppaallite"
            objectClass="se.mdh.progresside.components.core.IComponent">
         <action
               class="hr.fer.rasip.remes.launcher.actions.Remes2UppaalLiteAction"
               enablesFor="*"
               id="hr.fer.rasip.remes.launcher.remes2uliteAction"
               label="Transform to Uppaallite">
         </action>
      </objectContribution>
   </extension>
</plugin>
