<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.it.uu.se/research/group/darts/uppaal/flat-1_1.dtd"
            class="hr.fer.rasip.uppaal.UppaalPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="uppaal"
            class="hr.fer.rasip.uppaal.util.UppaalResourceFactoryImpl"/>
   </extension>

</plugin>
